In [1]:
#Q1
s = [2,3,6]
x = 1
for i in range(len(s)):
    x *= s[i]
print (x)

36

In [2]:
#Q2
s= [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
s.sort(key = lambda k : k[1])
print (s)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [3]:
#Q3
d1 = {'a':100 ,'b':200 ,'c':400}
d2 = {'b':400 ,'c':500 ,'a':600}
d3 = d2
for key in d3:
    if key in d3:
        d3[key] = d1[key] + d2[key]
print(d3)

{'b': 600, 'c': 900, 'a': 700}

In [70]:
#Q4
s= int(input("Enter an integer"))
b = {}
for i in range (s):
    key = i+1
    b[key] = key*key
print(b)

Enter an integer5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [87]:
#Q5
lst1= [('item1', '15.20'), ('item2', '14.10'), ('item3', '24.5')]
lst1.sort(key = lambda i : i[1],reverse= True)
print(lst1)

[('item2', '14.10'), ('item1', '15.20'), ('item3', '24.5')]